.topPage-bc {
    margin-left: 30px;
    font-size: larger;
}

.btn-receive, .btn-receive:active {
    background-color: hsl(12, 75%, 51%);
    border: 2px solid #e0b03a;
}

.btn-receive:hover {
    background-color: hsl(9, 91%, 62%);
    color:rgb(58, 56, 56);
    font-weight: bold;
    border: 1px solid #464544;
}

.durian-wrapper .table thead th:first-child {
    width: 19%;
}

.durian-wrapper .table thead th:nth-child(2) {
    width: 16%;
}

.durian-wrapper .table thead th:nth-child(3) {
    width: 11%;
}

.durian-wrapper .table thead th:nth-child(4) {
    width: 10%;
}

.durian-wrapper .table thead th:nth-child(5) {
    width: 18%;
}

.durian-wrapper .table thead th:nth-child(6) {
    width: 14%;
}

.dist-text {
    color:rgb(141, 49, 0);
    font-weight: bold;
    text-transform: uppercase;
}

.dist-text-distributed {
    color:#056105;
}